.table {
    border-collapse: collapse; /* Ensures borders do not double */
}

td,
th {
    border: 1px solid #dee2e6; /* Standardizes border styling */
    outline: none; /* Removes any outline */
}
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.action {
    display: flex;
    flex-direction: column; /* Stacks buttons vertically */
    align-items: center; /* Centers the buttons horizontally */
    gap: 10px; /* Adds space between the buttons */
}
