.wrapper {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 100px;
    border-bottom: 1px solid #ccc;
    box-shadow: #0000001a 0 0 5px, #0000001a 0 0 1px;
}

.logo {
    display: flex;
    align-items: center;
    h1 {
        font-size: 20px;
    }
    a {
        text-decoration: none;
        color: #000;
    }
}

.container {
    padding-left: 50px;
    ul {
        display: flex;
        align-items: center;
        padding-top: 10px;
    }
    li {
        list-style: none;
        padding: 0px 20px;
        font-weight: 500;
    }
}

.user {
    button {
        --tw-bg-opacity: 1;
        border: 1px solid var(--primary-color);
        background: rgba(215, 226, 255, var(--tw-bg-opacity));
        padding: 5px;
        border-radius: 5px;
        color: var(--primary-color);
    }
}

.icon-user {
    font-size: 20px;
    button {
        width: 40px;
        border-radius: 50%;
    }
}
.user-menu {
    display: flex;
    align-items: center;
    gap: 8px; /* Spacing between elements */
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 24px; /* Rounded look */
    background-color: white;
    text-decoration: none;
}

.user-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

.avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%; /* Circle avatar */
    background-color: #e0e0e0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    color: #b71c1c; /* Deep red color for text */
    margin: 3px;
}

.username {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
