.main {
    width: 100%;
    height: 100vh;
}

.search {
    position: relative;
    width: 100%;
    height: 100%;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.form-search {
    width: 80%;
    height: 500px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 20px;
    align-items: center;
}

.form {
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
}

.title {
    h4 {
        text-align: start;
        font-size: 20px;
        color: var(--primary-color);
    }
}

.form-select {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    select {
        height: 70px;
    }
}

.chart {
    width: 90%;
    margin: 0px auto;
    h4 {
        padding-top: 10px;
        font-size: 24px;
        color: var(--primary-color);
    }
}
